@page "/employees"
@using Domain.Enums;
@using FitBoss.Domain.Entities;
@attribute [Authorize]

@inject HttpClient HttpClient

<h3 class="mt-5 text-light">Funcionários</h3>



@code {
    private IEnumerable<Employee>? Data { get; set; }
    private ResultDto? Result { get; set; }
    public bool IsLoading { get; set; }
    private string? ErrorMessage { get; set; }
    private string pagingSummaryFormat = "Página {0} de {1} (total {2} funcionários)";
    private int Page { get; set; } = 1;
    private int PageSize { get; set; }
    private int Count { get; set; }
    

    public class ResultDto
    {
        public IEnumerable<Employee>? data { get; set; }
        public string? messages { get; set; }
        public bool succeeded { get; set; }
        public Exception? exception { get; set; }
        public int code { get; set; }
        public int currentPage { get; set; }
        public int totalPages { get; set; }
        public int totalCount { get; set; }
        public int pageSize { get; set; }
    }
}
